/result
/.sisyphus
/.pre-commit-config.yaml
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/*.tfvars
!infra/openstack/minecraft/terraform.tfvars
!infra/openstack/gateway/terraform.tfvars
**/*.tfvars.json
**/crash.log
**/crash.*.log
**/openrc.sh
